@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #b0b0b0;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 4000px;
}

/* .container {
  display: flex;
  width: 100%;
  height: 93px;
  justify-content: center;
  align-items: center;
  background: #80808011;
  backdrop-filter: blur(3px);
  box-shadow: 0 2px 15px 0 #080808ab;
}

.wadah-1 {
  display: flex;
  width: 93%;
  justify-content: space-between;
  align-items: center;
}

.wadah-1 .logo {
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

button > span:nth-child(1) {
  background: #080808;
}

button > span:nth-child(2) {
  background: #999999;
}

button > span:nth-child(3) {
  background: #080808;
}

.wadah-1 .hamburger-menu {
  display: flex;
  align-items: center;
}

.hamburger-menu button {
  display: none;
}

.hamburger-active > span:nth-child(1) {
  transform-origin: top left;
  rotate: 45deg;
  background: #999999;
}
.hamburger-active > span:nth-child(2) {
  scale: 0;
}
.hamburger-active > span:nth-child(3) {
  transform-origin: bottom left;
  rotate: -45deg;
  background: #999999;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  font-size: 21px;
  align-items: center;
  font-weight: 500;
  margin-left: 10px;
}

nav ul li a {
  justify-content: space-between;
  text-decoration: none;
  letter-spacing: 2px;
  color: whitesmoke;
  background-color: transparent;
  padding: 7px 12px;
  border-radius: 10px;
  transition: 0.2s all ease-in-out 0s;
}

nav ul li a:hover {
  background-color: whitesmoke;
  color: #080808;
} */

.container1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container1 .img-jumbotron {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -9999;
  overflow: hidden;
}

.img-jumbotron .bg-jumbotron {
  width: 100%;
  height: 115vh;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.container1 .wadah-1 {
  width: 100%;
  height: 93px;
  background: blur(4px);
  background-color: #0808081a;
  box-shadow: 0 4px 20px #080808c5;
}
.wadah-1 .colm-1 {
  width: 91%;
  height: 93px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colm-1 .logo {
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 10px;
}

button > span:nth-child(1) {
  background: #080808;
}

button > span:nth-child(2) {
  background: #999999;
}

button > span:nth-child(3) {
  background: #080808;
}

.colm-1 .hamburger-menu {
  display: flex;
  align-items: center;
}

.hamburger-menu button {
  display: none;
}

.hamburger-active > span:nth-child(1) {
  transform-origin: top left;
  rotate: 45deg;
  background: #999999;
}
.hamburger-active > span:nth-child(2) {
  scale: 0;
}
.hamburger-active > span:nth-child(3) {
  transform-origin: bottom left;
  rotate: -45deg;
  background: #999999;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  font-size: 21px;
  align-items: center;
  font-weight: 500;
  margin-left: 15px;
}

nav ul li a {
  justify-content: space-between;
  text-decoration: none;
  letter-spacing: 2px;
  color: whitesmoke;
  background-color: transparent;
  padding: 7px 12px;
  border-radius: 10px;
  transition: 0.2s all ease-in-out 0s;
}

nav ul li a:hover {
  background-color: whitesmoke;
  color: #080808;
}

.isi-1 {
  display: flex;
  flex-direction: row;
}

.isi-1 .content-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  /* background-color: blue;
  opacity: 0.4; */
}

.colm-2 {
  width: 55%;
  /* background-color: red; */
  /* opacity: 0.3; */
}

.colm-2 p,
.colm-2 h1 {
  text-shadow: 1px 1px 11px #080808;
}

.colm-2 h1 {
  margin-left: 60px;
  color: whitesmoke;
  font-family: "Cabin", sans-serif;
  letter-spacing: 2px;
  font-family: "Merriweather", serif;
  font-size: 50px;
}

.colm-2 p {
  margin: 20px 0 0 60px;
  font-size: 20px;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
}

.colm-2 .btn {
  margin: 80px 0 100px 100px;
}

.colm-2 a {
  padding: 20px 25px;
  border-radius: 10px;
  text-decoration: none;
  color: whitesmoke;
  letter-spacing: 1px;
  background: transparent;
  border: 2px solid #51e5a1;
  transition: 0.2s ease;
}

.colm-2 a:hover {
  background: #51e5a1;
  color: #080808;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.wadah-2 {
  width: 100%;
  min-height: 10vh;
  text-align: center;
  color: #080808;
  background-color: whitesmoke;
}

.wadah-2 .isi-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60%;
  margin: 0 auto;
}

.isi-2 h1 {
  margin-bottom: 20px;
  font-size: 45px;
}

.isi-2 span {
  background-color: #080808;
  display: flex;
  height: 2px;
  width: 20%;
  margin: -15px auto 30px auto;
}

.isi-2 p {
  opacity: 0;
  font-size: 18px;
  transform: translate(0, -150px);
  transition: 0.4s ease;
}

.isi-2 p.fade-down {
  transform: translate(0, 0);
  opacity: 1;
}

.isi-2 .btn-about {
  margin-top: 55px;
  margin-bottom: 40px;
}

.btn-about a {
  opacity: 0;
  text-decoration: none;
  color: whitesmoke;
  padding: 20px 25px;
  background-color: #080808;
  border-radius: 10px;
  transition: 0.5s ease;
}

.btn-about a.fade-in {
  opacity: 1;
}

.btn-about a:hover {
  transition: 0.3s ease;
  background: #51e5a1;
  color: #080808;
  border: 1px solid #080808;
}

.wadah-3 {
  width: 100%;
  max-height: 5000px;
  background-color: #24272c;
  color: whitesmoke;
  /* background-image: url(img/Makaroni\ img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  display: flex;
  align-items: center;
}

.wadah-3 .isi-3 {
  width: 90%;
  margin: 0 auto;
}

.isi-3 .content-3 .menu {
  text-align: center;
  margin: 25px auto 0 auto;
  font-size: 50px;
}

.content-3 span {
  background-color: #51e5a1;
  display: flex;
  height: 2px;
  width: 9%;
  margin: 5px auto 40px auto;
}

.list-1 {
  width: 100%;
  height: 100%;
}

.list-1 .menu-1 {
  width: 100%;
  height: 100%;
  margin: 50px auto 150px auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-1 .side-menu-1 {
  /* border: 2px solid gray; */
  padding: 10px;
  margin: 0 auto;
  width: 25%;
  display: flex;
  justify-content: center;
}

.side-menu-1 .bakar {
  width: 270px;
  height: 270px;
  border-radius: 2px;
  /* border: 1px solid #242424; */
  /* background-color: #b3b3b3; */
  margin: 0 auto;
  text-align: start;
}

.bakar h1 {
  margin-top: 5px;
  font-size: 60px;
  font-family: "Merriweather", sans-serif;
}

.bakar h2 {
  margin-top: 10px;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.bakar .deskripsi-1 {
  font-size: 15px;
  margin: 20px auto 50px auto;
}

.side-menu-1 .goreng {
  width: 270px;
  height: 270px;
  border-radius: 2px;
  /* border: 5px solid #242424;
  background-color: #b3b3b3; */
  text-align: start;
}

.goreng h1 {
  margin-top: 5px;
  font-size: 60px;
  font-family: "Merriweather", sans-serif;
}

.goreng h2 {
  margin-top: 10px;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.goreng .deskripsi-2 {
  font-size: 15px;
  margin: 20px auto 50px auto;
}

.side-menu-1 .kuah {
  width: 270px;
  height: 270px;
  border-radius: 2px;
  /* border: 5px solid #242424;
  background-color: #b3b3b3; */
  text-align: start;
}

.kuah h1 {
  margin-top: 5px;
  font-size: 60px;
  font-family: "Merriweather", sans-serif;
}

.kuah h2 {
  margin-top: 10px;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.kuah .deskripsi-3 {
  font-size: 15px;
  margin: 20px auto 50px auto;
}

.btn-menu a {
  background-color: transparent;
  border: 2px solid #51e5a1;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
  color: whitesmoke;
  transition: 0.3s ease;
}

.btn-menu a:hover {
  background-color: #51e5a1;
  color: #080808;
}

.garis-menu {
  margin: 0 auto;
  height: 2px;
  background-color: #51e5a1;
  display: flex;
}

.isi-3 .content-4 .other-menu {
  text-align: center;
  margin: 20px auto 0 auto;
  font-size: 50px;
}

.content-4 span {
  background-color: #51e5a1;
  display: flex;
  height: 2px;
  width: 20%;
  margin: 5px auto 40px auto;
}

.list-2 {
  width: 100%;
  height: 100%;
}

.list-2 .menu-2 {
  width: 90%;
  height: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-2 .side-menu-2 {
  box-sizing: border-box;
  margin: 0 auto 20px auto;
  width: 300px;
  display: flex;
}

.ayam-bekakak {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.ayam-bekakak .ayam-bekakak-img {
  width: 280px;
  height: 280px;
  border-radius: 3px;
  border: 6px solid #17e7b7;
  background-image: url(img/Ayam\ Bekakak.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  transition: 0.3s ease;
}

.ayam-bekakak-img:hover {
  transform: scale(110%);
}

.ayam-bekakak h2 {
  margin-top: 20px;
  margin-left: 5px;
  letter-spacing: 2px;
}

.ayam-bekakak p {
  margin-top: 10px;
  margin-left: 5px;
  font-style: italic;
}

.ayam-bekakak h3 {
  margin-left: 5px;
  margin-top: 10px;
  font-size: 25px;
}

.btn-other-menu {
  text-align: center;
  margin: 0 auto 100px auto;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-other-menu.hidden-bi {
  display: none;
}

.btn-other-menu button {
  padding: 17px 20px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #51e5a1;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-other-menu button:hover {
  background-color: #51e5a1;
  color: #080808;
}

#bi-menu {
  margin-right: 5px;
  font-size: 20px;
}

.content-4 .hidden-menu {
  width: 100%;
  height: 100%;
}

.hidden-menu .menu-3 {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
}

.menu-3.list {
  display: flex;
}

.menu-3 .side-menu-3 {
  box-sizing: border-box;
  margin: 0 auto 60px auto;
  width: 300px;
  display: flex;
}

.side-menu-3 .tumpeng-nasi-kuning {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.tumpeng-nasi-kuning .tumpeng-nasi-kuning-img {
  width: 280px;
  height: 280px;
  border-radius: 3px;
  border: 6px solid #17e7b7;
  background-image: url(img/Tumpeng\ nasi\ kuning.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  transition: 0.3s ease;
}

.tumpeng-nasi-kuning-img:hover {
  transform: scale(110%);
}

.tumpeng-nasi-kuning h2 {
  margin-top: 20px;
  margin-left: 5px;
  letter-spacing: 2px;
}

.tumpeng-nasi-kuning p {
  margin-top: 10px;
  margin-left: 5px;
  font-style: italic;
}

.pesan-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.pesan-menu h3 {
  font-size: 27px;
}

.pesan-menu a {
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #51e5a1;
  text-decoration: none;
  border-radius: 10px;
  color: whitesmoke;
  transition: 0.3s ease;
}

.pesan-menu a:hover {
  background-color: #51e5a1;
  color: #080808;
}

/* Small */
@media screen and (max-width: 576px) {
  .hamburger-menu button {
    display: block;
    position: absolute;
    right: 5px;
    background: transparent;
    border: none;
    z-index: 100;
    padding: 0 5px;
  }

  button span {
    display: block;
    width: 32px;
    height: 3px;
    background-color: white;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 3px;
    transition: 0.2s ease-in-out 0s;
  }

  nav {
    display: none;
  }

  nav ul {
    background-color: #0a9cc0;
    border: 1px solid whitesmoke;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    /* padding: 10px 10px; */
    border-radius: 10px;
    text-align: center;
    animation: effect 0.3s ease;
  }

  @keyframes effect {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  nav ul li {
    margin: 5px 5px;
    padding: 10px 10px;
    border-radius: 5px;
  }

  nav ul li a {
    background-color: transparent;
  }

  nav ul li:hover {
    background-color: #0e7490;
  }

  nav ul li a:hover {
    background-color: transparent;
    color: whitesmoke;
  }

  nav.show {
    display: flex;
  }
}
